body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.savepic {
  height: 60%;
  width: 60%;
}

.filling {
  background: mediumseagreen;
  height: 99%;
  width: 100%;
  display: block;
  position: relative;
  top: -33px;
}

button {
  height: 60%;
  width: 40%;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.text {
  text-align: center;
  padding: 10px;
  display: absolute;
  bottom: 50%;
  font-size: 20px;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
  
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.col {
  height: 80px;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
