/* Removed included styling that didn't fit my layout */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.savepic {
  height: 60%;
  width: 60%;
}

input {
  background: mediumseagreen;
  height: 99%;
  width: 100%;
  display: block;
  position: relative;
  top: -33px;
}

button {
  height: 60%;
  width: 40%;
  background-color: #06AED5; 
}

button:hover {
  cursor: pointer;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.text {
  text-align: center;
  padding: 10px;
  display: absolute;
  bottom: 50%;
  font-size: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 2px; 
}

.past {
  background-color: #d3d3d3;
}

.col {
  height: 80px;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

#clear {
  text-align: center;
  margin-top: 25px;
  color: #06AED5;
}

#clear:hover {
  text-decoration: underline;
  color: rgb(99, 213, 238);
  cursor: pointer;
}